<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: false }, html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :image %><br />
    <%= f.file_field :image %>
  </div>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autocomplete: "email" %>
  </div>
  <div>
    <p>
    <strong>Billing Address: </strong>
    <%= f.fields_for @user.billing_address do |billing_address_form| %>
      <div class="address">
        <div>
          <%= billing_address_form.label :country, style: "display: block" %>
          <%= billing_address_form.text_field :country %>
        </div>
        <div>
          <%= billing_address_form.label :city, style: "display: block" %>
          <%= billing_address_form.text_field :city %>
        </div>
        <div>
          <%= billing_address_form.label :state, style: "display: block" %>
          <%= billing_address_form.text_field :state %>
        </div>
        <div>
          <%= billing_address_form.label :street1, style: "display: block" %>
          <%= billing_address_form.text_field :street1 %>
        </div>
        <div>
          <%= billing_address_form.label :street2, style: "display: block" %>
          <%= billing_address_form.text_field :street2 %>
        </div>
        <div>
          <%= billing_address_form.label :zip, style: "display: block" %>
          <%= billing_address_form.text_field :zip %>
        </div>
      </div>
    <% end %>
    </p>
  </div>

  <div>
    <p>
    <strong>Shipping Address: </strong>
    <%= f.fields_for @user.shipping_address do |shipping_address_form| %>
      <div class="address">
        <div>
          <%= shipping_address_form.label :country, style: "display: block" %>
          <%= shipping_address_form.text_field :country %>
        </div>
        <div>
          <%= shipping_address_form.label :city, style: "display: block" %>
          <%= shipping_address_form.text_field :city %>
        </div>
        <div>
          <%= shipping_address_form.label :state, style: "display: block" %>
          <%= shipping_address_form.text_field :state %>
        </div>
        <div>
          <%= shipping_address_form.label :street1, style: "display: block" %>
          <%= shipping_address_form.text_field :street1 %>
        </div>
        <div>
          <%= shipping_address_form.label :street2, style: "display: block" %>
          <%= shipping_address_form.text_field :street2 %>
        </div>
        <div>
          <%= shipping_address_form.label :zip, style: "display: block" %>
          <%= shipping_address_form.text_field :zip %>
        </div>
      </div>
    <% end %>
    </p>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
