<main>
  <h2>Sign up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: false }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :image %><br />
      <%= f.file_field :image %>
    </div>

    <div class="field">
      <%= f.label :first_name %><br />
      <%= f.text_field :first_name, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :last_name %><br />
      <%= f.text_field :last_name %>
    </div>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autocomplete: "email" %>
    </div>

    <div>
      <p>
      <strong>Billing Address: </strong>
      <%= f.fields_for :billing_address do |billing_address_form| %>
        <div class="address">
          <div>
            <%= billing_address_form.label :city, style: "display: block" %>
            <%= billing_address_form.text_field :city %>
          </div>
          <div>
            <%= billing_address_form.label :state, style: "display: block" %>
            <%= billing_address_form.text_field :state %>
          </div>
          <div>
            <%= billing_address_form.label :country, style: "display: block" %>
            <%= billing_address_form.text_field :country %>
          </div>
        <div>
          <%= billing_address_form.label :street1, style: "display: block" %>
          <%= billing_address_form.text_field :street1 %>
        </div>
        <div>
          <%= billing_address_form.label :street2, style: "display: block" %>
          <%= billing_address_form.text_field :street2 %>
        </div>
        <div>
          <%= billing_address_form.label :zip, style: "display: block" %>
          <%= billing_address_form.text_field :zip %>
        </div>
        </div>
      <% end %>
      </p>
    </div>

    <div>
      <p>
      <strong>Shipping Address: </strong>
      <%= f.fields_for :shipping_address do |shipping_address_form| %>
        <div class="address">
          <div>
            <%= shipping_address_form.label :city, style: "display: block" %>
            <%= shipping_address_form.text_field :city %>
          </div>
          <div>
            <%= shipping_address_form.label :state, style: "display: block" %>
            <%= shipping_address_form.text_field :state %>
          </div>
          <div>
            <%= shipping_address_form.label :country, style: "display: block" %>
            <%= shipping_address_form.text_field :country %>
          </div>
        <div>
          <%= shipping_address_form.label :street1, style: "display: block" %>
          <%= shipping_address_form.text_field :street1 %>
        </div>
        <div>
          <%= shipping_address_form.label :street2, style: "display: block" %>
          <%= shipping_address_form.text_field :street2 %>
        </div>
        <div>
          <%= shipping_address_form.label :zip, style: "display: block" %>
          <%= shipping_address_form.text_field :zip %>
        </div>
        </div>
      <% end %>
      </p>
    </div>
    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</main>
