<main>
  <h2 class="title"> Account Profile(<%= "#{current_user.first_name} #{current_user.last_name}" %>)</h2>
  <div id="<%= dom_id @user %>">
    <div class="user-details"> 
      <%= render "shared/user_details" %>
      <p>
      <div class="billing-address"> 
        <%= render "shared/billing_address" %>
      </div>
      </p>
      <p>
      <div class="shipping-address"> 
        <%= render "shared/shipping_address" %>
      </div>
      <p>
      <%= link_to("Edit Account", edit_user_registration_path, class: "btn-square-less-space") %>
      </p>
    </div>

    <hr/>
  </div>
  <%= link_to("Back", :back) %>
</main>
