<div id="<%= dom_id sku_item %>">
  <p>
  <strong>Image:</strong>
  <% if sku_item.image.present? %>
    <%= image_tag(sku_item.image.url(:medium), class: "image") %>                                         
  <% else %>
    <%= image_tag("user-preview.png", class: "image") %>                                         
  <% end %>
  </p>

  <p>
    <strong>Sku:</strong>
    <%= sku_item.sku %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= sku_item.price %>
  </p>

  <p>
    <strong>Quantity in Stock:</strong>
    <%= sku_item.quantity_in_stock %>
  </p>

  <p>
    <strong>Feature</strong>
    <%= sku_item.feature %>
  </p>
</div>
<hr/>
