<div id="<%= dom_id order %>">
  <p>
    <strong>Order date:</strong>
    <%= order.order_date %>
  </p>

  <p>
    <strong>Order number:</strong>
    <%= order.order_number %>
  </p>

  <p>
    <strong>Total amount:</strong>
    <%= order.total_amount %>
  </p>

  <%# <p> %>
    <%# <strong>Total before tax:</strong> %>
    <%# <%= order.total_before_tax %1> %>
  <%# </p> %>

  <%# <p> %>
    <%# <strong>Total after tax:</strong> %>
    <%# <%= order.total_after_tax %1> %>
  <%# </p> %>

  <%# <p> %>
    <%# <strong>Tax percent:</strong> %>
    <%# <%= order.tax_percent %1> %>
  <%# </p> %>

  <%# <p> %>
    <%# <strong>Discount amount:</strong> %>
    <%# <%= order.discount_amount %1> %>
  <%# </p> %>

  <p>
    <strong>Order status:</strong>
    <%= order.order_status %>
  </p>

</div>
