<div id="<%= dom_id product %>">
  <p>
  <strong>Name:</strong>
  <%= product.name %>
  </p>

  <p>
  <strong>Tags:</strong>
  <%= product.tags %>
  </p>

  <p>
  <strong>Categories:</strong>
  <%= product.categories %>
  </p>

  <p>
  <strong>Sku:</strong>
  <%= product.skus[0].sku %>
  </p>

  <p>
  <strong>Price:</strong>
  <%= product.skus[0].price %>
  </p>

  <p>
  <strong>Quantity in stock:</strong>
  <%= product.skus[0].quantity_in_stock %>
  </p>

  <p>
  <strong>Feature:</strong>
  <%= product.skus[0].feature %>
  </p>

</div>
