<main>
  <h2>Products</h2>

  <div id="products">
    <% @products.each do |product| %>
      <div class="col-4">
        <% if product["skus"]["image_file_name"].present? %>
          <%= link_to(image_tag(product["skus"]["image_file_name"], alt: "bange"), product_path(product["_id"])) %>
        <% else %>
          <%= link_to(image_tag("user-preview.png", alt: "bange"), product_path(product["_id"])) %>
        <% end %>

        <h4 style="text-align: center">
          <%= product["skus"]["feature"] %>
        </h4>
        <h4 style="text-align: center">
          <%= number_to_currency(product["skus"]["price"]) %>
        </h4>
        <h5 style="text-align: center">
          <%= button_to "Add to cart", cart_path(current_user), params: { product: product } %>
        </h5>
      </div>
    <% end %>
  </div>

  <%= link_to "New product", new_product_path %>
</main>
